{% extends "base.html" %}

{% block content%}
  <main>
    <h1>Your shopping list</h1>
    <div>
      <form method="post" action="{% url 'delete_all_shopping_items' %}">
        {% csrf_token %}
        <div>
          <button class="button">Delete all</button>
        </div>
      </form>
      <ul>
        {% for shoppingitem in shoppingitem_list %}
          <li>{{ shoppingitem.food_item.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock content%}
