{% extends "paginate.html" %}

{% block content %}
  <a href="{% url 'meal_plan_new' %}">create</a>
  <main class="recipe-grid">
    {% for meal_plan in mealplan_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_plan_detail' meal_plan.id %}">{{ meal_plan.name }}</a>
        </h2>
        {% for recipe in meal_plan.recipes.all %}
          <p>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
          </p>
        {% endfor %}
      </div>
    {% empty %}
      <div>
        <h1>No Meal Plan, yet</h1>
        <p>
          Would you like to
          <a href="{% url 'meal_plan_new' %}">create</a>
          one?
        </p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
